@import './index.scss';
@import './login.scss';
@import './home.scss';
@import './aside.scss';
@import './header.scss';
@import './main.scss';

html,
body,
#app,
.app-div {
    height: $height;
    width: $width;
    background-color: #e8eaec;
    margin: 0px
}

body .el-table th.gutter {
    display: table-cell !important;
}

.el-table__fixed-right {
    height: 100% !important;
}